body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Add this style in your CSS file or in the head of your HTML file */
#suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
}

#suggestions li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#suggestions li:hover {
    background-color: #f5f5f5;
}
